*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: .5s;
	letter-spacing: .5px;
	font-family: "Ubuntu", cambria, sans-serif;
}

*:focus{
	outline: 0;
}

:root{
	--solid: #0194FB;
	--text: #eee;
}

html{
	user-select: none;
	background: var(--text);
	accent-color: var(--solid);
	scroll-behavior: smooth;
	font-family: "Ubuntu", cambria, sans-serif
}

header{
	padding: .5rem;
	box-shadow: .5px .75px 1px 1px #7777;
	width: 100%;
	margin: auto;
	background: var(--text)
}

h1{
	color: var(--solid);
}

button{
	background: var(--solid);
	color: var(--text);
	padding: .75rem;
	font-size: 1rem;
	border: 0;
	cursor: pointer;
}

input:focus, select:focus{
	border: 1.5px solid #0194FB;
	box-shadow: 0 0 0 3px #0194FB77
}

::placeholder{
	text-transform: uppercase;
}

#add_cv_btn_wrap{
	position: fixed;
	padding: .25rem;
	border-radius: 50%;
	bottom: 2rem;
	right: 2rem;
}

#add_cv_btn{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	color: var(--text);
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	background: var(--solid);
}

#cv_list{
	padding: 1rem;
	text-align: center
}

#modbg{
	position: fixed;
	background-color: #7777;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	backdrop-filter: blur(.125rem);
	padding-top: 15dvh;
	display: none;
}

#modal{
	background-color: #eee;
	color: #333;
	width: 75dvw;
	margin: auto;
	box-shadow: 0 0 7px #3333;
	padding: 1rem;
	border-radius: .75rem;
	overflow-y: auto;
}

::placeholder{
	font-family: "Ubuntu", cambria, sans-serif
}