header{
	position: fixed;
	top: 0;
	width: 100%;
}

form{
	padding: 1rem;
	width: 90%;
	margin: auto;
	margin-top: 2.85rem;
}

button{
	padding: .75rem;
	border-radius: .5rem;
}

fieldset{
	padding: .75rem;
	border: .25px solid;
	margin-bottom: 1rem
}

legend{
	padding: .5rem;
}

.field{
	padding: .5rem;
	margin: .5rem auto;
}

input{
	/* padding: .5rem; */
	border: 1.25px solid;
	background: transparent;
	font-size: 1rem;
}

label{
	display: block;
	padding: .75rem 0;
}

.field input:not(input[type=checkbox]), select{
	padding: .75rem .5rem;
	width: 100%;
	border-radius: .5rem
}

#dob, #gndr{
	background: transparent;
	text-transform: capitalize;
	appearance: none;
	border: 1.25px solid;
	
}

input[type=month]{
	appearance: none;
}

.new, .remove{
	display: flex;
	justify-content: flex-end;
}

button.remove{
	background: #FF0056;
}

input[type=checkbox]{
	margin-right: .5rem;
	cursor: pointer;
	accent-color: var(--solid);
}

input[type=checkbox]:focus{
	box-shadow: none
}

textarea{
	resize: none;
	width: 100%;
}

.present{
	display: flex;
	align-items: center
}

#submit_btn{
	padding: .5rem;
}

#submit_btn button{
	width: 100%;
	font-weight: bolder;
}

#desc{
	display: block;
	width: 100%;
	padding: .5rem;
	background: transparent;
	height: 10rem;
	border: 1.25px solid;
	appearance: none;
	font-family: "Ubuntu", cambria, sans-serif;
	font-size: 1rem;
}

.ref-contact{
	display: flex;
	justify-content: space-between;
}

.ref-contact *{
	margin: 0;
	width: 45%;
}

#modal .field{
	padding: 0;
	/* margin: .25re auto; */
}

#modal form{
	padding: .5rem;
	margin-top: .2rem;
}

table{
	width: 100%;
	background-color: #dddd;
	border-radius: .5rem;
	padding: .125rem;
	margin-top: .25rem;
}

th, td{
	width: 33%;
	text-align: center;
}

.actions{
	display: flex;
	width: 100%;
	text-decoration: #123 underline;
}

.actions button{
	background-color: transparent;
	color: #123;
	padding: .25rem;
}

#refs th, #refs td{
	width: 25%;
}

:disabled{
	background-color: #ccc7;
}