form{
	padding: 1rem;
	margin-top: 2rem
}

fieldset{
	padding: .75rem;
	border: .25px solid;
	margin-bottom: 1rem
}

legend{
	padding: .5rem;
}

.field{
	padding: .5rem;
	border: 1px sold;
	margin: .5rem auto;
}

input{
	border: 1.25px solid;
	background: transparent;
}

label{
	display: block;
	padding: .75rem 0;
}

.field input:not(input[type=checkbox]), select{
	padding: 1rem .5rem;
	width: 100%;
	border-radius: .5rem
}

#dob, #gndr{
	background: transparent;
	text-transform: capitalize;
	appearance: none;
	border: 1.25px solid;
	
}

input[type=month]{
	appearance: none;
}

.new, .remove{
	display: flex;
	justify-content: flex-end
}

#remove_school{
	background: #FF0056
}

input[type=checkbox]{
	margin-right: .5rem;
}

input[type=checkbox]:focus{
	box-shadow: none
}

.present{
	display: flex;
	align-items: center
}

#submit_btn{
	padding: .5rem;
}

#submit_btn button{
	width: 100%;
	font-weight: bolder;
}

#desc{
	display: block;
	width: 100%;
	padding: .5rem;
	background: transparent;
	height: 10rem;
	border: 1.25px solid;
	appearance: none;
	font-family: "Ubuntu", sans-serif
}